* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 45px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 0px;
  padding-right: 30px;
}

#nology {
  display: inline-block;
  width: 150px;
  height: 45px;
  background-color: green;
  text-align: center;
  padding: 12px;

 
}

nav > #linkgroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin-right: px;
  margin-left: 150px;
}


a {
  padding: 10px;
  color: white;
  text-decoration: none;

  
}

a:hover {
  text-decoration: underline;
  background-color: chartreuse;

}

main {
  display:flex;
  height: 750px;

}
 
main > .leftstack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 90%;
  padding-left: 20px;
  padding: 20px;

}

main > .leftstack > section {
  display: flex;
  border: 1px solid black;
  height: 50%;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 15px;
}


main > .leftstack > section > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


main > .rightstack {
  border: 1px solid black;
  display: flex;
  width : 40%;
  height: 82.75%;
  margin-top: 35px;
  margin-right: 20px;
  padding: 20px;

}

main > .rightstack > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  height: 100%;


}

main > .rightstack > section > p {
  display: flex;
  align-items: left;
  padding-top: 20px;
  overflow: hidden;
  
  
}